{% extends 'base.html' %}
{% block head %}

    <div class="container">

      <form class="form-signin" method="post" action="/login_action/">
        <h2 class="form-signin-heading">测试平台</h2>
        <label for="inputUser" class="sr-only">登陆名称：</label>
        <input type="text" name="username" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">登陆密码：</label>
        <input type="password" name="password" class="form-control" placeholder="密码" required>

          <h4><span class="label label-danger">{{ error }}</span></h4>
          {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" name="btn" type="submit">登陆</button>
      </form>

    </div> <!-- /container -->

{% endblock %}